@import "tailwindcss";

/* Font Stuff */
@font-face {
  font-family: "main_font";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "italic_font";
  src: url("/fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-font {
  font-family: "main_font", sans-serif;
}

.italic-font {
  font-family: "italic_font", sans-serif;
}

/* Scrolling CSS */
.mask {
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}